#hero {

    /* Background image:
       <span>Photo by <a href="https://unsplash.com/@iwnph?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Iwan Shimko</a> on <a href="https://unsplash.com/s/photos/polaroid?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span> */
    background: url("../images/homepage-banner.jpg") center / cover no-repeat;
}

@media (min-width: 768px) {
    #hero {
        background: url("../images/homepage-banner.jpg") center / cover no-repeat;
    }
}

#title {
    font-size: 32px;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
}

#subtitle {
    font-size: 40px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

.info-button {
    background: rgba(0,98,204,0);
    border: 3px solid #fff;
    border-radius: 30px;
}

#about-info {

    /* Background image:
       <span>Photo by <a href="https://unsplash.com/@iwnph?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Iwan Shimko</a> on <a href="https://unsplash.com/s/photos/polaroid?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span> */
    background: url("../images/hero-big.jpg") center / cover no-repeat;
}
